:root{
    --color-done: #f8f9fa;
}

#vse{
    margin: 30px;
    background-color: white;
    border: black solid 1px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 0px rgba(34, 60, 80, 0.72);
    height: 1000px;
}

body{
    background: linear-gradient(90deg, rgb(63, 43, 150) 5%, rgb(168, 192, 255) 95%);
}


header{
    color:white;
    display:flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(63, 43, 150) 5%, rgb(168, 192, 255) 95%);
    padding: 10px;
    font-size: 20px;
}

#signin{
    width: 100px;
    height: 50px;
    
}


#signup{
    width: 100px;
    height: 50px;

}



img{
    width: 80px;
}



#poisk{
    margin: 50px;
}

input{
    width: 500px;
}



.card{
    margin-top: 10px;
    background-color: var(--color-done);
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.card:hover{
    background-color: #e9ecef;
    transform: translateX(5px);
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

button{
    margin: 5px;
    border-radius: 20px;
}

.cardbut{
    display:flex;
    justify-content:space-around;
    border:1px solid black;
}